<?xml version="1.0"?>
<!--
/**
 * Alexa API connector
 *
 * @author Fred Orosko Dias <fred@imaginemage.com>
 * @link https://imaginemaage.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="alexa" frontName="alexa">
            <module name="ImaginationMedia_Alexa" />
        </route>
    </router>
</config>